# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Logs
logs/
*.log

# Directorios de dependencias
jspm_packages/

# Directorio opcional de caché de npm
.npm

# Caché opcional de eslint
.eslintcache

# Historial opcional de REPL
.node_repl_history

# Salida de 'npm pack'
*.tgz

# Archivo de variables de entorno dotenv
.env

# Archivos específicos del IDE
.vscode/
.idea/
.DS_Store